<!-- templates/includes/footer.html -->
{% load static %}
   <!-- Подвал -->
    <footer class="bg-dark text-white py-5 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 mb-4">
                    <h5 class="mb-3">
                        <i class="fas fa-car me-2"></i>Autoplaza
                    </h5>
                    <p>Крупнейшая площадка для покупки и продажи автомобилей в России. Безопасные сделки, проверенные продавцы, лучшие предложения.</p>
                </div>

                <div class="col-lg-2 col-md-4 mb-4">
                    <h5 class="mb-3">Покупателям</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="{% url 'advertisements:ad_list' %}" class="text-white-50 text-decoration-none">
                                Поиск авто
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'cars:brand_list' %}" class="text-white-50 text-decoration-none">
                                Каталог марок
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="{% url 'core:about' %}" class="text-white-50 text-decoration-none">
                                Как купить
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-4 mb-4">
                    <h5 class="mb-3">Продавцам</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a href="{% url 'advertisements:ad_create' %}" class="text-white-50 text-decoration-none">
                                Подать объявление
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="text-white-50 text-decoration-none">
                                Тарифы
                            </a>
                        </li>
                        <li class="mb-2">
                            <a href="#" class="text-white-50 text-decoration-none">
                                Рекомендации
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-4 mb-4">
                    <h5 class="mb-3">Контакты</h5>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <i class="fas fa-phone me-2"></i>+7 (800) 123-45-67
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-envelope me-2"></i>info@autoplaza.ru
                        </li>
                        <li class="mb-2">
                            <i class="fas fa-map-marker-alt me-2"></i>Москва, ул. Автомобильная, 1
                        </li>
                    </ul>

                    <div class="mt-3">
                        <a href="#" class="text-white me-3">
                            <i class="fab fa-vk fa-2x"></i>
                        </a>
                        <a href="#" class="text-white me-3">
                            <i class="fab fa-telegram fa-2x"></i>
                        </a>
                        <a href="#" class="text-white">
                            <i class="fab fa-youtube fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <hr class="bg-light my-4">

            <div class="row">
                <div class="col-md-6">
                    <p class="mb-0">&copy; {% now "Y" %} Autoplaza. Все права защищены.</p>
                </div>
                <div class="col-md-6 text-md-end">
                    <a href="#" class="text-white-50 text-decoration-none me-3">Политика конфиденциальности</a>
                    <a href="#" class="text-white-50 text-decoration-none">Пользовательское соглашение</a>
                </div>
            </div>
        </div>
    </footer>